html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0%;
}

.header_img{

    width: 100%;
    
}

.navbar {
    margin-bottom: 0px
    }
   
   
    .navigation{

        background-color: rgb(243, 113, 21);
     }
    
     .navbar-default .navbar-nav>li>a {
        color: white;
        font-size: 15px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: rgb(8, 4, 63);
       
    }
    
    
    .navbar-nav>li>.dropdown-menu {
        padding: 5px;
    
    }
    
    .navbar-nav>li>.dropdown-menu>li>a:hover {
        background-color: rgb(243, 113, 21);
    }
    
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        
        color: white;
        background-color:  rgb(243, 113, 21);
       
    }
    
    
    
    .navbar-nav>li>.dropdown-menu {
        
        display: none;
    }
    
    
    .dropdown:hover .dropdown-menu
    {
        display: block;
    }
    
    
    
    .container{
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    @media (min-width: 768px){
    .navbar-nav {
        margin: 0;
        margin-left: 15%;
       
    }
    
    }


    @media (min-width: 2560px){
        .navbar-nav {
            margin: 0;
            margin-left: 28%;
           
        }
    }
    
    
    
    
    @media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {
       
        background-color: #fff;
        }
    
        .navbar-nav .open .dropdown-menu {
            background-color: #fff;
            display: none;
        }
    }
    
    
    @media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color:black;
        }
    
       
        
    }
    
.revenue_head{
    margin-top: 2%;
    margin-right: 0px;
    padding: 2px;
    background-color: rgb(252, 136, 53);
    color: #fff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.revenue_key{
    padding: 0%;
    margin: 0%;
    background-color: rgb(252, 136, 53);
    color: #fff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.img-fluid,iframe{
    margin-top: 20px;
    border: 3px solid black;
    width: 200px;
	position:relative;
    margin-left: 10px;
}

    

.span_info{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.button_hide{
  float: right;
  background-color: rgb(6, 6, 63);
  color: white;
  border-radius: 5px;
}


.button_hide:after{
    content:"+";
    font-size: 20px;
    display: block;
   
}



.button_hide.expanded:after{
     content:"-";

}


/* ---------- Main Footer ------------ */

.footer{

    background: #00314F;
    margin: 0%;
    padding: 5px;
    text-align: center;
}

.footer_table tr td p{
    text-align: center;
    color: white;
    font-size: 10px;;
    line-height: 1.45em;
    font-family: Verdana;
}

.footer_table tr td img{
   
    vertical-align: middle;
    width: 50%;
    height: auto;
}

.footer_table{
    max-width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}


