
.header_img{

    width: 100%;
   
}
.navbar {
    margin-bottom: 0px
    }
   
   
    .navigation{

        background-color: rgb(243, 113, 21);
     }
    
     .navbar-default .navbar-nav>li>a {
        color: white;
        font-size: 15px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: rgb(8, 4, 63);
       
    }
    
    
    .navbar-nav>li>.dropdown-menu {
        padding: 5px;
    
    }
    
    .navbar-nav>li>.dropdown-menu>li>a:hover {
        background-color: rgb(243, 113, 21);
    }
    
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        
        color: white;
        background-color:  rgb(243, 113, 21);
       
    }
    
    
    
    .navbar-nav>li>.dropdown-menu {
        
        display: none;
    }
    
    
    .dropdown:hover .dropdown-menu
    {
        display: block;
    }
    
    
    
    .container{
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    @media (min-width: 768px){
    .navbar-nav {
        margin: 0;
        margin-left: 15%;
       
    }
    
    }


    @media (min-width: 2560px){
        .navbar-nav {
            margin: 0;
            margin-left: 28%;
           
        }
    }
    
    
    
    
    @media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {
       
        background-color: #fff;
        }
    
        .navbar-nav .open .dropdown-menu {
            background-color: #fff;
            display: none;
        }
    }
    
    
    @media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color:black;
        }
    
    }
    


       
    html, body {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 100%;
        overflow-x: hidden;
        margin: 0%;
        padding: 0%;
        background-color: rgb(231, 226, 226);
    }
        .form-div{
            width: 300px;
            height: 350px;
            text-align: center;
            margin: 50px auto;
            background: white;
            border-radius: 10px;
           
        }

       
        
        .form-div h2{
            color:  #12990b;
            font-size: 30px;
            padding-top: 40px;
            margin-top: 10px;
            font-weight: bold;
        }
        input[type='text'],input[type='password']{
            font-size: 18px;
            text-align: center;
            height: 35px;
            border: none;
            outline: none;
            border-bottom: 3px solid grey !important;
            background: transparent;
            width: 180px;
            color:  black;
        }
        input[type='text']:focus,
        input[type='password']:focus{
            border-bottom: 3px solid #12990b !important;
        }
        ::placeholder{
            color: rgb(175, 168, 168);
        }
        input[type='submit']{
            background-color: #3b9637;
            color: white;
            margin: 20px;
            border: none;
            font-size: 18px;
            padding: 10px 45px;
            border-radius: 50px;
        }
        input[type='submit']:hover{
            box-shadow: 0 0 15px #3b9637;
            cursor: pointer;
        }
        #register{
            background-color: #3b9637;
            color: white;
            margin: 20px;
            border: none;
            font-size: 18px;
            padding: 10px 45px;
            border-radius: 50px;
            text-decoration: none;
            font-family: Arial sans-serif;
            font-size: 18px;
        }
        #register:hover{
            box-shadow: 0 0 15px #3b9637;
        }


/* ---------- Main Footer ------------ */

.footer{

    background: #00314F;
    margin: 0%;
    padding: 5px;
    text-align: center;
}

.footer_table tr td p{
    text-align: center;
    color: white;
    font-size: 10px;;
    line-height: 1.45em;
    font-family: Verdana;
}

.footer_table tr td img{
   
    vertical-align: middle;
    width: 50%;
    height: auto;
}

.footer_table{
    max-width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}

    